.footer {
    width: 100%;
    height: 250px;
    bottom: 0;
    background: #0d47a1;
    margin-top: 100px;
}

.row-1 {
    position: absolute;
    height: 200px;
    width: 330px;
    font-weight: 600;
    /* border: 1px solid black; */
}

.logoInfo {
    width: 350px;
    height: 45px;
    margin-top: 20px;
    box-sizing: border-box;
    text-align: left;
}

/* INFO PHONE  KONTAK KAMI*/

.textInfo {
    font-size: 15px;
    text-align: left;
    width: 300px;
    height: 30px;
    margin-top: -25px;
    margin-left: 35px;
    }      

.logoPhone {
    margin-top: 80px;
    margin-left: -187px;
    font-size: 15px;
    /* border: 1px solid black; */
    }

.logoEmail{
    margin-top: 15px;
    margin-left:-135px;
    }
    
    /* LAYANAN KAMI */

 .paketTour {
     margin-top: 18px;
     /* padding-left: 23px; */
     /* background-color: blue; */
 }

 .tiketAtraksi {
     margin-left: 55px;
     margin-top: 10px;
 }

 .tiketAir {
    margin-left: 20px;
    margin-top: 10px;
}

 .infoWisata {
    margin-top: 10px;
    /* margin-left: -23px; */
 }

 .tentangKami {
     margin-top: 18px;
     text-align:left;
 }